node_modules/
.env
notiondosxdos.com-chain-only.pem
notiondosxdos.com-chain.pem
notiondosxdos.com-crt.pem
notiondosxdos.com-key.pem
presupuesto_generado.pdf
#Hay que descachear los archivos de pruebas
src/tests
uploads
#Ignorar los logs de los controladores
src/controllers/logs