<div id="view-buscador">
  {{> buscador_cliente}}
  {{> lista_ots}}
</div>
<div id="formulario-ot-existente" class="hidden">
  {{> formulario_ot_existente}}
</div>
<div id="formulario-nueva-ot" class="hidden">
  {{> formulario_nueva_ot}}
</div>
