<<<<<<< HEAD
<footer class="bg-red-800 border-t">
=======
<footer class="bg-red-700 border-t">
>>>>>>> bcd6a41bece50b3fabbf1477829843c3f653401b
  <div class="max-w-7xl mx-auto px-4 py-1 text-center text-sm text-white">
    © 2025 Dos por Dos Grupo Imagen. Todos los derechos reservados.
  </div>
</footer>
